{% extends 'sheader.html' %}
{% load static %}
{% block content %}

	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1 rs1-slick1">
			<div class="slick1">
				

				<div class="item-slick1" style="background-image: url({% static 'images/background.webp' %});">
					<div class="container h-full">
						<div class="flex-col-l-m h-full p-t-100 p-b-30">
							<div class="layer-slick1 animated visible-false" data-appear="rollIn" data-delay="0">
								<span class="ltext-202 cl2 respon2">
									Become a COZA STORE
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="lightSpeedIn" data-delay="800">
								<h2 class="ltext-103 cl2 p-t-19 p-b-43 respon1">
									and sell to 50 Crore+ customers
								</h2>
							</div>
								
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>


	<!-- Banner -->
	<div class="sec-banner bg0" >
		<div class="flex-w flex-c-m">
			<div class="size-202 m-lr-auto respon4">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<div class="block1-txt-child1 flex-col-l">
						<h3 class="ltext-103 cl5" style="color: #4272d7; padding-left: 5rem;">
							24x7
						</h3>

						<span class="block1-info stext-102 trans-04"  style="color: black; padding-left: 5rem; font-size: 20px;">
							Online Business
						</span>
					</div>
				</div>
			</div>

			<div class="size-202 m-lr-auto respon4">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<div class="block1-txt-child1 flex-col-l">
						<h3 class="ltext-103 cl5" style="color: #4272d7; padding-left: 5rem;">
							7
						</h3>

						<span class="block1-info stext-102 trans-04"  style="color: black; padding-left: 5rem; font-size: 20px;">
							days* payment
						</span>
					</div>
				</div>
			</div>

			<div class="size-202 m-lr-auto respon4">
				<!-- Block1 -->
				<div class="block1 wrap-pic-w">
					<div class="block1-txt-child1 flex-col-l">
						<h3 class="ltext-103 cl5" style="color: #4272d7; padding-left: 5rem;">
							19000+
						</h3>

						<span class="block1-info stext-102 trans-04"  style="color: black; padding-left: 5rem; font-size: 20px; ">
							Pincodes served
						</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="sec-banner bg0" style="padding: 10px 10px 10px 10px;">
		<div class="">
			<div class="p-b-10">
				<h4 class="ltext-103 cl5">
					Why do <span style="color: #4272d7;">sellers love selling on COZA STORE?</span>
				</h4>
				<h4>
					45 crore+ customers across India trust COZA STORE.com to be their number 1 online shopping destination. It is no surprise that more than a million sellers trust their products to be made available 24x7 on COZA STORE.
				</h4>
			</div>
		</div>
	</div>

	<div style="margin: 10px 10px 10px 10px;">
		<div style=" box-shadow: 0px 2px 5px 0px rgb(0, 0, 0); height: 100px; width: 100%; background-color: rgb(255, 255, 255); border-radius: 10px;">
			<p style="margin-top:1rem; margin-left: 2rem; font-size: 3rem;">Opportunity</p>
			<p style="margin-left: 2rem; font-size: large;">45 crore+ of customers across 19000+ pincodes, and access to shopping festivals like The Big Billion Days, and more.</p>
		</div>
	</div>
	<div style="margin: 10px 10px 10px 10px;">
		<div style=" box-shadow: 0px 2px 5px 0px rgb(0, 0, 0); height: 100px; width: 100%; background-color: rgb(255, 255, 255); border-radius: 10px;">
			<p style="margin-top:1rem; margin-left: 2rem; font-size: 3rem;">Ease of Doing Business</p>
			<p style="margin-left: 2rem; font-size: large;">Create your Flipkart seller account in under 10 minutes with just 1 product and a valid GSTIN number.</p>
		</div>
	</div>
	<div style="margin: 10px 10px 10px 10px;">
		<div style=" box-shadow: 0px 2px 5px 0px rgb(0, 0, 0); height: 100px; width: 100%; background-color: rgb(255, 255, 255); border-radius: 10px;">
			<p style="margin-top:1rem; margin-left: 2rem; font-size: 3rem;">Growth</p>
			<p style="margin-left: 2rem; font-size: large;">Sellers see an average 2.8X spike in growth, 2.3X more visibility, and up to 5X growth in The Big Billion Days Sale.</p>
		</div>
	</div>
	<div style="margin: 10px 10px 10px 10px;">
		<div style=" box-shadow: 0px 2px 5px 0px rgb(0, 0, 0); height: 100px; width: 100%; background-color: rgb(255, 255, 255); border-radius: 10px;">
			<p style="margin-top:1rem; margin-left: 2rem; font-size: 3rem;">Additional Support</p>
			<p style="margin-left: 2rem; font-size: large;">Account management services, exclusive training programs, business insights, catalogue/photoshoot support, and more.</p>
		</div>
	</div>
	
	



{% endblock %}

	<!-- Slider -->
	<section class="section-slide">
		<div class="wrap-slick1 rs2-slick1">
			<div class="slick1">
				<div class="item-slick1 bg-overlay1" style="background-image: url({% static 'images/background.webp' %});" data-thumb="{% static 'images/thumb-01.jpg' %}" data-caption="Women’s Wear">
					<div class="container h-full">
						<div class="flex-col-c-m h-full p-t-100 p-b-60 respon5">
							<div class="layer-slick1 animated visible-false" data-appear="fadeInDown" data-delay="0">
								<span class="ltext-202 txt-center cl0 respon2">
									Become a COZA STORE
								</span>
							</div>
								
							<div class="layer-slick1 animated visible-false" data-appear="fadeInUp" data-delay="800">
								<h2 class="ltext-104 txt-center cl0 p-t-22 p-b-40 respon1">
									and sell to 50 Crore+ customers
								</h2>
							</div>
							
						</div>
					</div>
				</div>

			</div>

			
		</div>
	</section>

	<!-- Banner -->
	<div class="sec-banner bg0 p-b-55">
		<div class="container">
			<div class="row">
				
				<div class="col-md-6 col-lg-6 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
			
							<div class="block1-txt-child1 flex-col-l">
								<h3 class="ltext-103 cl5" style="color: #4272d7; margin-left: 13rem;">
									24x7
								</h3>

								<span class="block1-info stext-102 trans-04"  style="color: black; margin-left: 12rem;">
									Online Business
								</span>
							</div>

							
						
					</div>
		
				</div>
				
				<div class="col-md-6 col-lg-6 p-b-30 m-lr-auto">
					<!-- Block1 -->
					<div class="block1 wrap-pic-w">
			
							<div class="block1-txt-child1 flex-col-l">
								<h3 class="ltext-103 cl5" style="color: #4272d7; margin-left: 17rem;">
									7
								</h3>

								<span class="block1-info stext-102 trans-04"  style="color: black; margin-left: 13rem;">
									days* payment
								</span>
							</div>

							
					</div>
		
				</div>
				
			</div>
		</div>
	</div>


	<!-- Product -->
	<section class="bg0 p-t-23 p-b-130">
		<div class="container">
			<div class="p-b-10">
				<h3 class="ltext-103 cl5">
					Why do <span style="color: #4272d7;">sellers love selling on COZA STORE?</span>
				</h3>
				<h4>
					45 crore+ customers across India trust COZA STORE.com to be their number 1 online shopping destination. It is no surprise that more than a million sellers trust their products to be made available 24x7 on COZA STORE.
				</h4>
			</div>
			<br>
			<div class="p-b-10">
				<div class="row">
					<div class="col-sm-4">
					  <div class="card">
						<div class="card-body">
						  <h5 class="card-title">Special title treatment</h5>
						  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						  <a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					  </div>
					</div>
					<div class="col-sm-4">
					  <div class="card">
						<div class="card-body">
						  <h5 class="card-title">Special title treatment</h5>
						  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						  <a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					  </div>
					</div>
				  </div>
				  <br><br>
				  <div class="row">
					<div class="col-sm-4">
					  <div class="card">
						<div class="card-body">
						  <h5 class="card-title">Special title treatment</h5>
						  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						  <a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					  </div>
					</div>
					<div class="col-sm-4">
					  <div class="card">
						<div class="card-body">
						  <h5 class="card-title">Special title treatment</h5>
						  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
						  <a href="#" class="btn btn-primary">Go somewhere</a>
						</div>
					  </div>
					</div>
				  </div>
			</div>

		</div>
	</section>
